@model GestorEventos.Servicios.Entidades.Servicio

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Servicio</h1>

<!--<h3>Esta seguro de borrar este servicio?</h3>-->
<div>
    <h4>Detalle del servicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioServicio)
        </dd>
    </dl>
    <h4>Esta seguro de borrar este servicio?</h4>
    <form asp-action="Delete" asp-route-id="@Model.IdServicio">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Atras</a>
    </form>
</div>
