@model IEnumerable<GestorEventos.Servicios.Entidades.Evento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaAgasajada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEvento)
             </td>
             <td>
                @Html.DisplayFor(modelItem => item.FechaEvento)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.CantidadPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaAgasajada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Borrado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
