 @model IEnumerable<GestorEventos.Servicios.Entidades.EventoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="container pt-5 mt-3">Listado de Eventos</h1>

<table class="table table-striped table-hover table-sm">
    <thead>
        <tr class="text-center">
        
            <th>Evento</th>
            <th>Fecha</th>
            <th>Cantidad de Personas</th>
            <th>Agasajado</th>
            <th>Solteros o Solteras?</th>
            <th>Usuario Registrado</th>
            <th>Estado</th>
            <th>Modificar Estado</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center align-middle">
                <!--<td>
                    @Html.DisplayFor(modelItem => item.IdEvento)
                </td>-->
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePersonaAgasajada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadPersonas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                @*  <td>
            @Html.DisplayFor(modelItem => item.IdTipoEvento)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.IdPersonaAgasajada)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.IdEstadoEvento)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoEvento)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.Borrado)
            </td> *@
                <td class="align-middle">
                    <div class="form-container">
                        <form asp-action="AprobarEvento">
                            <input type="hidden" name="idEvento" value="@item.IdEvento" id="idEvento" />
                            <input type="submit" value="Aprobar" class="boton-aprobar" />
                        </form>


                        <form asp-action="RechazarEvento">
                            <input type="hidden" name="idEvento" value="@item.IdEvento" id="idEvento" />
                            <input type="submit" value="Rechazar" class="boton-rechazar" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
